editor-class-prefix = editor-
editor-bgcolor = #333
editor-fgcolor = #fff
editor-input-bgcolor = #ccc
editor-input-fgcolor = #000

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments
    background-clip padding-box

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

transition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    transition arguments

animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    animation arguments

drop-shadow(x=2px, y=5px, blur=8px, alpha=0.6)
    box-shadow(x, y, blur, rgba(#000, alpha))


linear-gradient()
    if not current-property or current-property[0] != 'background-image'
        error('linear-gradient() must be used within a "background-image" property')

    args = unquote(join(', ', arguments))
    add-property('background-image', -moz-linear-gradient(args))
    add-property('background-image', -webkit-linear-gradient(args))
    add-property('background-image', -o-linear-gradient(args))
    add-property('background-image', -ms-linear-gradient(args))
    s('linear-gradient(%s)', args)
